body {
	
	background-image: url("../resources/background.png");
	background-repeat: repeat;
	
}


.wrap {
	
	width: 100%;
	overflow:auto;
}

.container1 {
	float: left;
    width: 100%;
	
}

.card {
	
	display: inline-block;
	border: 1px solid black;
	width: 200px;
	margin: 10px;
	float: left;	
	border-radius: 5px;
	padding-bottom: 5px;
	background-image: url("../resources/background-card.png");
	
}

.cardHeader {
	
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #ADD8E6;
	border-bottom: 1px solid black;
	font-size:larger;
}

.cardData {
	
	padding: 2px;	
	padding-left: 5px;
	
}

.winner {
	
	border: 1px solid black;
	box-shadow: 1px 1px 1px #888888;
	padding: 1px;
	background: #3CB371;
	font-size:larger;
	font-weight: bold;
	
}

.pointList {
	
	border: 1px solid black;
	box-shadow: 1px 1px 1px #888888;
	
}



.button {
	background-color: #ADD8E6;
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	border: 1px solid #000000;
}

.button:hover {
	background-color: #c0c0c0;
	text-decoration: none;
	color: black;
}

.VirheellinenKentta {
	background-color: #FFE4E4;
}
.Virheteksti {
	color: red;
	font-style: italic;
	font-size: small;
}
.Virheblokki {
	background-color: #FFFAFA;
	border-color: red;
	border-width: 1px;
	border-style: dashed;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: small;
}
.Virheotsikko {
	color: red;
	font-style: italic;
	font-size: medium;
}


